.Inicial {
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 33%;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  .voc-view{
    max-width: 940px;
    display: block;
    margin: 0 auto;
  }

