html, body {
    min-height: 100%;
  }
  
  body {
    font-family: sans-serif;
    /* background: #42426b; */
    background-image: url('../img/fondoGris.jpg');
    /* background-image: -webkit-linear-gradient(135deg, #8067B7, #EC87C0);
    background-image: linear-gradient(-45deg, #8067B7, #EC87C0); */
    color: white;
  }

  p{
    color: white;
  }
  sup {
      color: red;
  }
  .img-logo {
    width: 250px;
    display: block;
    margin: 0 auto;
    margin-bottom: -1rem;
    margin-top: 2rem;
  }
  
  .rb-box {
    width: 80%;
    max-width: 920px;
    margin: 50px auto;
    padding: 1.3em;
    /* background: #292942; */
    background: #4a4a5a;
    border-radius: .40em;
    -webkit-filter: drop-shadow(1px 2px 5px rgba(0,0,0,.3));
    filter: drop-shadow(1px 2px 5px rgba(0,0,0,.3));
    box-shadow: 
      0 2px 2px rgba(126, 124, 125, 0.5),
      0 0px 5px rgba(67, 66, 67, 0.15),
      0 0px 4px rgba(0,0,0,.35),
      0 5px 20px rgba(165, 165, 165, 0.25),
      0 15px 50px rgba(107, 107, 107, 0.75),
      inset 0 0 15px rgba(255,255,255,.05);
  }

  .VocForms{
    font-size: 18px;
  }
  
  /* Custom Radio Button */
  p {
    font-size: .9em;
  }
  
  .rb {
    padding: 16px 0;
    text-align: center;
    background: rgba(255,255,255,.03);
    border-radius: .3em;
  }
  
  .rb-tab {
    display: inline-block;
    position: relative;
    width: 20%;
  }
  
  .rb-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: .5em;
    color: #FFFFFF;
    accent-color: rgb(65, 65, 65);
  }
  
  .rb-spot {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: 2px solid rgba(255,255,255,.3);
    border-radius: 100%;
    cursor: pointer;
    transition: ease .5s;
    margin-top: 0.5rem;
  }
  
  .rb-tab-active .rb-spot {
    background: rgba(0,0,0,.35);
    border: 2px solid rgba(28, 19, 23, 0.6);
  }
  
  /* Submit Button */



  #buttons_container{
    text-align: center;
  }


  button {
    display: inline-block;
    width: 80%;
    margin-top: 1.2em;
    margin-left: 2rem;
    padding: 18px 30px;
    max-width: 220px;
    font-size: .9em;
    color: #2e2e2e;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .15em;
    background: white;
    border: none;
    outline: none;
    border-radius: 5em;
    box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.3);
    transition: 
      color 0.6s, 
      box-shadow 0.3s, 
      transform 0.3s;
    cursor: pointer;
  }
  
  button:hover {
    box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.3);
    color: #6f6f6f;
  }

  .calificacion{
    font-size: medium;
    margin-top: -1.8rem !important;
    background: transparent !important;
  }

  .label_titleform{
    margin-top: 1rem;
    color: white;
    margin-bottom: -3rem;
    background-color: transparent;
  }

#text_area{
  background-color: transparent !important
}

#fullWidth{
  color: #FFFFFF;
  background-color: transparent !important
}

